<div ng-class="{ minimizeMe: activitiesCtrl.activitiesModel.minimize }" class="animate-slide panel-default collapsable hideMe">
    <div class="panel-heading activities-header">
        <div class="row">
            <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 pull-left glyphicon-pointer" ng-click="activitiesCtrl.activitiesModel.minimize = !activitiesCtrl.activitiesModel.minimize">
                <strong id="activitiesHeaderContent" class="activities-header-content">
                    <i class="fa" ng-class="{ 'fa-spin' : activitiesCtrl.activitiesModel.minimize && activitiesCtrl.getInProgressItemsCount() > 0, 'fa-cog':  activitiesCtrl.activitiesModel.minimize && activitiesCtrl.getInProgressItemsCount() > 0, 'fa-tasks': !activitiesCtrl.activitiesModel.minimize || (activitiesCtrl.activitiesModel.minimize && !activitiesCtrl.getInProgressItemsCount()) }"></i>
                    <i18n>
                        Atividades
                    </i18n>
                </strong>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-right">
                <span class="glyphicon glyphicon-pointer glyphicon-minus" title="Minimizar" ng-click="activitiesCtrl.activitiesModel.minimize = !activitiesCtrl.activitiesModel.minimize"></span>&nbsp;
                <span class="glyphicon glyphicon-pointer glyphicon-remove" title="Fechar" ng-click="activitiesCtrl.close()"></span>
            </div>
        </div>
    </div>
    <div class="panel-body activities-scroll">
        <div ng-repeat="item in activityItems track by item.id">
            <div class="row">
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 activities-content">
                    <span>{{item.fileName}} - {{item.duration}}</span>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-right">
                    <span class="activities-progress" ng-if="item.status == 'progress'"><i class="fa fa-cog fa-spin"></i></span>
                    <span class="activities-done glyphicon glyphicon-saved" ng-if="item.status == 'success'" title="Concluído"></span>
                    <span class="activities-error glyphicon glyphicon-remove" ng-if="item.status == 'error'" title="Erro"></span>
                    <span class="activities-trash glyphicon glyphicon-floppy-disk" ng-class="{'glyphicon-pointer' : item.status == 'success' }" title="Salvar" ng-click="activitiesCtrl.saveIconClick(item)"></span>
                    <span class="activities-trash glyphicon glyphicon-trash" ng-class="{'glyphicon-pointer' : item.status != 'progress' }" title="Excluir" ng-click="activitiesCtrl.removeIconClick(item)"></span>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
                    <!--<span class="activities-trash glyphicon glyphicon-save-file" ng-click="activitiesCtrl.saveIconClick(item)"></span>-->
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
                    <!--<span class="activities-trash glyphicon glyphicon-trash" ng-click="activitiesCtrl.removeIconClick(item)"></span>-->
                </div>
            </div>
            <hr class="row activities-divider" />
        </div>
    </div>
</div>
